%text-subtitle {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: $main-heading-color;
}
%text-address {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
}
%flex-basis {
    display: flex;
    align-items: center;
    justify-content: center;
}
%text-title {
    font-family: $font-family;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.03em;
}