:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
    --main-heading-color: #212121;
    --main-text-color: #757575;
    --main-background-color: #2F303A;
    --main-current-color: #2196F3;
    --logo-color: #000000;
    --logo-svg-main-color: #AFB1B8;
    --main-text-size: 14px;
    --title-text-size: 36px;
    --title-main: 44px;
    --title-main-webstudio: 26px;
    --main-scnd-text-size: 16px;  
}