.footer {
    @include paddings(60px , 60px);
    background-color: $main-background-color;
    &-logo {
        margin-bottom: 20px;
        display: flex;
        align-items: baseline;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        color: #FFFFFF;
        font-size: $title-main-webstudio;
        @media screen and (max-width: 767px) {
            justify-content: center;
        }
    }
    &-adress {
        font-style: normal;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }
    &-street {
        @extend %text-address;
    }
    &-link {
        @extend %text-address;
    }
    & span {
        color: $main-current-color;
    }
    & p {
        color: #FFFFFF;
    }
    &-main-info {
        justify-content: center;
        @media screen and (max-width: 767px) {
            margin-bottom: 60px;
        }
    }
    
}
.flex-footer {
    width: 100%;
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        justify-content: center;
        gap: 60px 106px;
    }
    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        gap: 0px;
    }
}

.footer-icons{
    margin-left: 70px;
    @media screen and (max-width: 767px) {
        margin-left: 0px;
        margin-bottom: 60px;
    }
    &-title {
        font-family: $font-family;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 20px;
        @media screen and (max-width: 767px) {
            text-align: center;
        }
        @media screen and (min-width: 768px) {
            text-align: center;
        }
        @media screen and (min-width: 1200px) {
            text-align: start;
        }
    }
    &-list {
        display: flex;
        gap: 10px;
        @media screen and (max-width: 767px) {
            justify-content: center;
        }
    }
    &-svg {
        fill: #FFFFFF; 
    }
}
.footer-icons-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 10%);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    padding: 0;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    & > a {
        height: 20px;
    }
    &:hover {
        background-color: $main-current-color;
    }
}

.footer-subscribe {
    margin-left: 93px;
    @media screen and (max-width: 767px) {
        margin-left: 0px;
    }
    @media screen and (min-width: 768px) {
        margin-left: 0px;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }
    &-title {
        font-family: $font-family;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 20px;
        @media screen and (max-width: 767px) {
            text-align: center;
        }
        @media screen and (min-width: 768px) {
            text-align: center;
        }
        @media screen and (min-width: 1200px) {
            text-align: start;
        }
    }
    &-form {
        display: flex;
        @media screen and (max-width:767px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &-input {
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        width: 358px;
        height: 50px;
        background-color: transparent;
        font-family: $font-family;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.03em;
        padding: 16px 15px;
        @media screen and (max-width: 767px) {
            margin-bottom: 20px;
            width: 450px;
        }
        @media screen and (min-width: 768px) {
            width: 450px;
        }
        @media screen and (min-width: 1200px) {
            width: 358px;
        }
    }
    &-button {
        display: flex;
        font-family: $font-family;
        font-weight: 700;
        font-size: 16px;
        line-height: 187%;
        letter-spacing: 0.06em;
         align-items: center;
        color: #fff;
        padding: 10px 28px;
        margin-left: 12px;
        border-radius: 4px;
        background-color: #2195f3b9;
        color: #FFF;
    }
    &-icon {
        display: flex;
        fill: #FFF;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }
}

.footer-subscribe-button:hover {
    background-color: $main-current-color;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.grey {
    color: rgba(255, 255, 255, 60%);
}
.gmail {
    padding-top: 9px;
    padding-bottom: 9px;
}