.header {
    @include paddings (24px , 25px);
    border-bottom: 1px solid #eee;
    &-list {
        // font-weight: 500;
        // align-items: center;
        // gap: 50px;
        @media screen and (max-width: 767px) {
            display: none;
        }
        @media screen and (min-width: 768px) {
            display: flex;
            font-weight: 500;
            align-items: center;
            gap: 50px;
            font-size: $main-text-size;
        }

    }
    &-logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: var(--logo-color);
        text-decoration: none;
        font-size: $title-main-webstudio;
        margin-right: 93px;
        display: flex;
        align-items: center;
    }
    &-svg {
        display: flex;
        align-items: center; 
        // fill: currentColor;
    }
    &-link-contacts {
        display: flex;
        gap: 10px;
        align-items: center;
        color: $main-text-color;
    }
}

.header-link {
    color: $main-heading-color;
    text-decoration: none;
    position: relative;

    &:hover,
    :focus {
        color: $main-current-color;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  
    }
}

.header-link-current {
    color: $main-current-color;
}
.header-link.current::after {
    content: "";
    display: block;
    background-color: $main-current-color;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    margin-top: 28px;
    position: absolute;
}

.header-list.contacts {
    margin-left: auto;
    @media screen and (min-width: 768px) {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }
}

.contacts {
    margin-right: 0;
    align-items: center;
    gap: 50px;
}

nav span {
    color: $main-current-color;
}
