.main {
    &-portfolio {
        @include margins (94px , 94px);
    }
    &-title {
        display: none; 
    }
    &-list {
        margin-bottom: 34px;
        text-align: center;
        gap: 8px;
    }
    &-nav {
        align-items: center;
        justify-content: center;
    }
}

button {
    background-color: #F5F4FA;
    color: $main-heading-color;
    font-size: medium;
}
.btn-portfolio {
    padding: 6px 22px;
    font-weight: 500;
    font-size: $main-scnd-text-size;
    letter-spacing: 0.03em;
    text-align: center;
    color: $main-heading-color;
    border: 4px;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms, 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    &.main-btn-all {
        width: 73px;
        height: 38px;
        border-radius: 4px;
    }
    &.main-btn-web {
        width: 125px;
        height: 38px;
        border-radius: 4px;
    }
    &.main-btn-app {
        width: 112px;
        height: 38px;
        border-radius: 4px;
    }
    &.main-btn-dsgn {
        width: 103px;
        height: 38px;
        border-radius: 4px;
    }
    &.main-btn-mark {
        width: 130px;
        height: 38px;
        border-radius: 4px;
    }
}
.btn-portfolio:hover{
    background-color: $main-current-color;
    color: #FFFFFF;
    box-shadow: 
    0 2px 2px 0 rgba(0, 0, 0, 0.12), 
    0 1px 2px 0 rgba(0, 0, 0, 0.08), 
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.main-projects {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    width: 100%;
    padding-left: 0;
    
}
.project-image-overlay {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 500ms ease-in;
    padding: 63px 24px;
    &-description {
        font-family: $font-family;
        font-weight: 400;
        font-size: 18px;
        line-height: 156%;
        letter-spacing: 0.03em;
        color: #fff;
    }
}
.main-project-list:hover .overlay {
    transform: translateY(0%);
}
.overlay-box {
    width: 370px;
    height: 294px;
    overflow: hidden;
    position: relative;
}

.main-project-list {
    flex-basis: 200px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        box-shadow:
        1px 4px 6px 0 rgba(0, 0, 0, 0.16),
        0 4px 4px 0 rgba(0, 0, 0, 0.06),
        0 1px 1px 0 rgba(0, 0, 0, 0.12);
    }
}

.project-info {
    border: 1px solid #eee;
    border-top: none;
    padding: 20px 24px;
}
.project-title {
    margin-bottom: 4px;
}
