
.regular-customers {

    padding-bottom: 90px;

    &-title {
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.03em;
        text-align: center;
        color: $main-heading-color;
        padding-top: 107px;
    }
    &-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        padding-top: 50px;
        padding-left: 0;
        @media screen and (max-width: 767px) {
            padding-bottom: 60px;
        }
        @media screen and (min-width: 768px) {
            padding-bottom: 60px;
        }
    }
    &-item {
        display: flex;
        justify-content: center;
        width: 170px;
        border: $logo-svg-main-color 1px solid;
        border-radius: 4px;
        padding: 16px 32px;
        border: #AFB1B8 1px solid;
        transition-property: border, fill;
        transition-duration: 250ms, 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    }
    &-link {
        fill: #AFB1B8;
    }
}

.regular-customers-item:hover {
    border: $main-current-color 1px solid;
    &:hover .regular-customers-link {
        fill: $main-current-color;
    } 
}
